<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mathzalot</title>
    <link rel="icon" type="image/x-icon" href="~/assets/Kee%20Coding%20Logo.png">
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">
</head>

@{
    @model Mathzalot.Models.QuestionViewModel
}
<body class="main-content">
<header class="container header active" id="home" >
    @* <div class="header-content"> *@
        <div style="text-align: center; padding: 2rem;">
            <h2>@Model.score</h2>
            <br>
            <h1>@Model.Question</h1>
            <br>
            @for(var i = 0; i < Model.Answers.Length; i++) {
            <div style="margin-left:10rem; margin-right:10rem;margin-top:2rem;">
            <div style="border-radius:20px;display: flex;justify-content: center; align-items: center; height: 48px; background: #27AE60; text-align:center; margin-top:1rem;">
                <a href="@Url.Action("checkAnswer", "Question", new {answer = Model.Answers[i].Value})">
                    <div>
                        @if(@Model.Operation == '/')
                        {
                            <h3>@Model.Answers[i].Key.ToString("F2")</h3>
                        }
                        else {
                            <h3>@Model.Answers[i].Key</h3>
                        }
                    </div>
                </a>

            </div>
            
            </div>
            }
            

            
        
        </div>
</header>

<div class="controls">
    <div class="controldiv">
        <div class="control" data-id="/Dashboard/Index">
            <i class="fas fa-angle-left"></i>
        </div>
        <p>Quit</p>
        <br>
    </div>

</div>
<script>
    (function () {
        [...document.querySelectorAll(".control")].forEach(button => {
            button.addEventListener("click", function() {
                    window.location.href = button.dataset.id;
            })
        });
    })();
</script>
</body>